* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial;
    font-weight: normal;
    background-color: #0b0c10;
    color: azure;
}


body{
    margin:0 auto;
    min-width: 400px;
}



h1 {
    margin:30px auto;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    display: flex;
}

.error{
    margin-top:-10px;
    color:red;
    font-size: large;
}

header a{
    text-decoration: none;
    color:black;
    margin-right:20px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin:0 auto;
    background: white;
    text-align: center;
    height: 100px;
}
.login{
    display: flex;
    margin-top: 100px;
}

.login form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width:50%;
}

.login form input{
    width:300px;
    height: 40px;
    margin:15px;
    font-size: large;
}

.login form label{
    text-align: center;
}

#btn_loguj,#btn_reg{
    background-color: #ffd740;
    color:black;
    border: none;
}

nav{
    margin-top:20px;
    margin-right: auto;
    margin-left: 20px;
  }

a{
    text-decoration: none;
}

