body{
    background-color: #0b0c10;
    margin: 0 auto; 
    text-align: center;
    font-family: Arial;

}

div{
margin: auto;
margin-top: 20px;
width:max-content;
text-transform: uppercase;
color: azure;
background-color: #ffd64063;
border-radius: 5px;
padding-top: 3px;
text-align: center;

}

h1{
    margin: 0 auto; 
    text-align: center; 
}

h2{
    margin: 50px auto; 
    text-align: center; 
    color: azure;

}

a:not(#href), .price{
    margin: 12px 0;
    height: 36px;
    border-radius: 5px;
    background-color: #ffd740;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #212121;
    line-height: 36px;
    padding: 10px 20px;
    text-decoration: none;
}


header{
    width:100%;
    text-align: left;
    margin-top:20px;
display: flex;
}

header a{
    color: azure;
    margin-left: 15px;
    text-decoration: none;

}
nav{
    margin-left: auto;
    text-align: right;
  }

  nav a{
    
    color: azure;
    margin-right: 15px;
    text-decoration: none;
  }

a:last-of-type{
    text-align: center;

}