

    body{
        background-color: #0b0c10;
        margin: 0 auto; 
        text-align: center;
        font-family: Arial;

    }

    header{
  width: 100%;
  }
  nav{
    margin-top:20px;
    margin-left: auto;
    text-align: right;
  }

  nav a{
    
    color: azure;
    margin-right: 15px;
    text-decoration: none;

  }

form{
    margin: auto;
    width: 50%;
    text-transform: uppercase;

}
      .radio-toolbar {
        margin: 10px;
        align-items: center;


        margin: auto;
margin-top: 20px;
width:max-content;
text-transform: uppercase;
background-color: #ffd64063;
border-radius: 5px;
            }

            .radio-toolbar p{
               padding:15px;
               color: white;

            }



      
      .radio-toolbar input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
      }
      
      .radio-toolbar label {
          display: inline-block;
          background-color: #ebdaa0;
          padding: 10px 20px;
          font-family: sans-serif, Arial;
          font-size: 16px;
          border-radius: 4px;
      }

       #submit {
        background-color: #ffd740;
        padding: 10px 20px;
        font-family: sans-serif, Arial;
        font-size: 16px;
        border: 2px solid #444;
        border-radius: 4px;
        margin-top: 30px;
    }

      .radio-toolbar:first-of-type{
          display: inline-block;
          visibility: visible;
      }
      
      .radio-toolbar label:hover {
        background-color: #dfd;
      }
      
     
      
      .radio-toolbar input[type="radio"]:checked + label {
          background-color: #ffd740;
      }
