* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial;
    text-decoration: none;
}

body{
    margin-top:50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#kontener{
    font-size: 20px;   
    margin: 0 auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

label{
    display: flex;
    flex-direction: column;
    margin-top:20px;
}


#answer{
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
}

#answer button{
    font-size: 20px;   
    padding: 5px;
    margin: 10px;
    float: right;
    background-color: rgb(6, 119, 212);
    color: white;
    font-weight: bold;
    border: 0;
    opacity: 100;
    cursor: pointer;
    margin-right:10px;
}

#buttons button{
    font-size: 20px;   
    margin: 10px;
    background-color:white;
    float: right;
    color: rgb(6, 119, 212);
    font-weight: bold;
    border: 0;
    cursor: pointer;
    margin-right:10px;
}
